.MMM-rain-forecast svg.graph {
    filter: brightness(100%);
    height: 120px;
    width: 305px;
}

.MMM-rain-forecast svg.graph .grid {
  stroke: white;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

.MMM-rain-forecast svg.graph .points {
  stroke: white;
  stroke-width: 3;
}
.MMM-rain-forecast svg.graph .first_set {
  fill: #0074d9;
}

.MMM-rain-forecast svg.graph .surfaces {
  fill-opacity: 1;
}

.MMM-rain-forecast svg.graph .grid.double {
  stroke-opacity: 1;
}

.MMM-rain-forecast svg.graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

.MMM-rain-forecast svg.graph .labels.x-labels {
  text-anchor: middle;
}

.MMM-rain-forecast svg.graph .labels.y-labels {
  text-anchor: end;
}
